google-cloud-storage
jupyter
pandas
pyodbc
mysqlclient
slackclient
sqlalchemy
pycryptodome
psycopg2
pytest
pymongo
pymsteams
azure-storage-blob
numpy
shapely
fiona
pyproj
geopandas
rtree
pyarrow
fastparquet