@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
    scroll-behavior: smooth;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

body {
    // background-color: black;
    margin: 0 auto;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    // font-weight: 400;
    // outline: 1px solid pink;
}


.scroll-container {
    // overflow: auto;
    scrollbar-width: none;
    height: max-content;
    // transition: max-height 0.2s ease-out;
}

.outer-container {
    width: $main_width;
    top: 0%;
    position: relative;
    margin: 0 auto;
    padding: 10px 0;

}

.chat-container {
    width: 100%;
    min-height: 800px;
    scroll-behavior: smooth;
    // position: absolute;
    // top: 0;
    // left: 0;
    // margin-top: 50px;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-header-bar {
    background-color: yellowgreen;
    padding: 20px 40px;

    .head-img {
        height: 100px;
        width: 100px;
        margin-right: 40px;
        border-radius: 100%;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    .header-swift {
        h2 {
            font-size: 25px;
            font-weight: 900;
        }
    }

}

#chatbdy {

    padding: 40px 0px 100px 0px;

    * {
        color: red;
        margin-bottom: 20px;
    }

    #chat-time {
        text-align: center;
        display: block;
        // margin-bottom: 20px;
    }

    .chatbottext {
        color: #000;
        text-align: left;
        border-radius: 15px;
        word-wrap: break-word;

        // margin-bottom: 20px;
        span {
            display: inline-block;
            background: #e0e0e0;
            border-radius: 8px;
            padding: 20px 20px;
            max-width: 80%;
            margin-left: 10px;
            animation: floatup 1s forwards
        }
    }

    .usertext {

        // background-color: blue;
        // border-radius: 15px;
        text-align: right;
        word-wrap: break-word;

        span {
            display: inline-block;
            background: #5ca6fa;
            border-radius: 8px;
            padding: 20px 20px;
            max-width: 80%;
            margin-right: 10px;
            animation: floatup 1s forwards
        }

    }

}



.input-block {
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(235, 235, 235);
    position: absolute;
    bottom: 0;

    #send-btn {
        i {
            display: block;
        }
    }

    #chat-block {
        width: 80%;
        display: flex;
        flex-wrap: wrap;

        #userText {
            padding: 10px 20px;
            color: black;
            width: 100%;
            min-height: 50px;
            word-wrap: break-word;
            font-size: 16px;
        }
    }
}